body {
  margin: 0;
  min-width: 250px;
  background: url("./img/supermarket.jpg") no-repeat;
  background-size: cover;
  /*height: 650px;*/
  height: 100vh;
}

h1,
h2 {
  margin: 5px;
}

.area {
  position: absolute;
  /*position: fixed;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  /*height: 420px;*/
  padding: 80px 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.list_Header {
  color: white;
}

.list_Header h2 {
  text-align: center;
  color: rgba(254, 209, 54, 0.9);
}

.list_Header input[type="text"] {
  border-radius: 10px;
}

.addBtn {
  padding: 4px;
  width: 100%;
  background: rgba(254, 127, 45);
  color: #fff;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 20px;
}

.addBtn:hover {
  background-color: #39ca74;
}

/* Remove margins and padding from the list */
.lg-M {
  margin: 0;
  padding: 1em 0;
}

/* Style the list items */
.lg-M li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  /*font-size: 18px;*/
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.lg-M li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.lg-M li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.lg-M li.checked {
  background: #888;
  color: #39ca74;
  /*color: #fff;*/
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.lg-M li.checked::before {
  content: "";
  /*content: '.circle';*/
  position: absolute;
  border-color: #39ca74;
  /*border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;*/
  top: 10px;
  left: 16px;
  /*border: solid #39ca74;
  border-width: 0 0 4px 4px;*/
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.remove-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  /*margin-right: 0.5rem;*/
}

.remove-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/*
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
*/
